<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <%- include ./partials/header %>
    <div id="NotFound">
      <div class="pageNotFoundWrapper">
        <p class="bigTitle">OOPS!</p>
        <p class="Title">The page you are looking for is not found.</p>
      </div>
    </div>
  </body>
  <script src="/js/toggleMenu.js"></script>
</html>
