<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/add-contact.css" />
    <script src="/bower_components/angular/angular.min.js"></script>
  </head>
  <body ng-app="myApp">
    <%- include ./partials/header %>
    <div id="addContact" ng-controller="addContactController">
      <div class="formWrapper">
        <table>
          <p class="Title">Add New Contact</p>
          <tr>
            <td>
              <input
                class="contact_input"
                type="text"
                placeholder="First Name"
                ng-model="contactDetails.fname"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                class="contact_input"
                type="text"
                placeholder="Last Name"
                ng-model="contactDetails.lname"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                class="contact_input"
                type="number"
                placeholder="Phone Number"
                ng-model="contactDetails.number"
              />
            </td>
          </tr>
          <tr>
            <td>
              <span class="btn" ng-click="addNewContact()">Add Contact</span>
              <p class="msgInfo">{{ msgInfo }}</p>
              <p class="errInfo">{{ errInfo }}</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>

  <script src="/js/app.js"></script>
  <script src="/js/toggleMenu.js"></script>
  <script src="/js/controllers/addContactController.js"></script>
  <script src="/js/models/addContactFactory.js"></script>
</html>
