#Home .metDataWrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border: 1px solid #1963da;
  border-radius: 3px;
  margin: 10px;
}

@media screen and (max-width: 960px) {
  #Home .metDataWrapper {
    display: flex;
    flex-flow: column;
  }

  .Title {
    font-size: 18px;
  }
}
